@model IEnumerable<BookingApp.Models.ReservationModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.restaurant)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartHour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.restaurant.restaurantId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.reservationId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.reservationId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.reservationId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
